[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
line-bot-sdk = "*"
djangorestframework = "*"
django-heroku = "*"
django-dotenv = "*"
django = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
